/** @file Customization for Dual
 *
 */

@import "base";

$gray: rgba(151,151,151,1);

/*
 * Header Styles
 */

@media screen and (min-width: 801px) {
  .site-name {
    min-width: 250px;
    max-width: 300px;
  }
}

.main-nav .menu li.active-trail {
  background-color: #DDD;
  @include transition(.5s);
  &:hover, &:focus, &:active { background-color:#eee; @include transition(.1s); }
  a {
    color: $wwuBlue;
  }
}

/*
 * Home Page Styes
 */

.front {

  .page-title {
    display: none;
  }

  .clean-fairhaven-top-left { //About fairhaven
    box-sizing: border-box;
    padding-right: 0.75em;
    padding-top: 0.5em;

    .pane-title {
      color: $wwuBlue;
      margin-top: 0;
    }
  }

  .clean-fairhaven-top-right {
    box-sizing: border-box;
    padding-left: 0.75em;
  }

  .clean-fairhaven-middle-right,
  .clean-fairhaven-middle-center,
  .clean-fairhaven-middle-left { //Center row
    border-top: 2px solid tint($wwuBlue, 50%);

    .panel-pane {
      margin-top: 5px;
    }

    .pane-title {
      margin-top: 0;
    }

    iframe {
      width: 100%;
    }
  }

  .clean-fairhaven-middle-left,
  .clean-fairhaven-middle-right {
    text-align: center;

    h2 {
      font-size: 125%;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      line-height: 1.5;
      padding: 1em;
      background-color: $wwuBlue;
    }

    p {
      margin: 0;
    }

    p > a {
      display: block;
      padding: 1em;
      background-color: $wwuLtblue;
      color: #fff;

      &:hover, &:focus, &:active {
        background-color: $wwuBlue;
        text-decoration: none;
      }
    }
  }

  .clean-fairhaven-bottom-left,
  .clean-fairhaven-bottom-right { //News & Events/Student Profiles

    .pane-title {
      color: $wwuBlue;
      margin: 0;
      border-top: 2px solid tint($wwuBlue, 50%);
      padding: 0.5em 0;
    }

    .more-link {
      text-align: left;
    }

    .views-row {
      margin-top: 10px;
    }

    .item-list > ul {
      margin-top: 0;
    }

    .float-left {
      margin-top: 0;
    }

    h3 {
      margin-top: 0;
    }
  }

  .clean-fairhaven-bottom-right .views-row { //Student Profiles
    overflow: auto;
  }

  // News & Facebook Feed Quick Tabs
  ul.quicktabs-tabs {
    padding-left: 0;
    margin-bottom: 0;
    margin-left: -2px;
    li a {
      background: #eee;
      border-top: solid #7f9fc3 2px;
      border-right: solid #7f9fc3 2px;
      border-left: solid #7f9fc3 2px;
      border-bottom: solid #7f9fc3 2px;
      display: inline-block;
      color: #0070b6;
      font-size: 1em;
      padding: 10px;
    }
    li.active a {
      border-bottom: 2px dotted #eee;
    }
  }
  .quicktabs_main {
    background: #eee;
    margin-top: -2px;
    border-top: solid #7f9fc3 2px;
  }
  .quicktabs-tabpage {
    padding: 1em;
  }
  ul.facebook-feed .facebook-feed-picture {
    margin-right: 1em;
    margin-bottom: 0;
  }
  .facebook-feed-from {
    display: block;
  }
  .facebook-feed-message img {
    display: block;
    width: 50%;
    margin: 1em auto;
  }
}

/**
 * Slideshow styles
 */
.front {

  .flex-flexslider {
    @include box-shadow(-5 -5 5px #888);
    background-color:$gray;
    border-top: 2px solid $gray;
    border-left: 2px solid $gray;
    border-right: 2px solid $gray;
    border-bottom: 0px solid $gray;
    border-radius: 0;
    margin-top: 1.5em;
  }

  .flex-caption {
    @include opacity(0.5);
    background-color: #222;
    color: #fff;
    padding: 0.5em;
  }

  .flex-control-paging li a.flex-active {
    background: none repeat scroll 0 0 $wwuBlue;
    cursor: default;
  }

  .flex-control-paging li a {
    background: none repeat scroll 0 0 $gray;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
  }

  .flex-direction-nav a.flex-next:before,
  .flex-direction-nav a.flex-prev:before {
    font-size: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 34px;
    width: 34px;
    background-color: #868686;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
  }

  .flex-direction-nav a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
